#tooltip {
    background: url("loading.gif") no-repeat scroll 12px 12px #E6E4D8;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 7px #000000;
    min-height: 32px;
    min-width: 32px;
    padding: 12px;
    z-index: 900;
}
#tooltip img {
	max-height:600px;
	max-width:600px;
}